@model IEnumerable<Toothcare_Appointment_System.Models.Patients>
@if (User.IsInRole("Admin"))
{
	<ul class="nav nav-tabs nav-fill">
		<li class="nav-item">
			<a class="nav-link" asp-action="index" asp-controller="Staff">Staff</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="index" asp-controller="Doctors">Doctor</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="index" asp-controller="Appointments">Appointment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page">Patient</a>
		</li>
	</ul>
	<h2>Patients <a asp-action="Create">Add new Patient</a></h2>
}
else
{
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" asp-action="index" asp-controller="Staff">Appointment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page">Patient</a>
		</li>
	</ul>
	<h2>Patients List <a asp-action="Create">Add new Patient</a></h2>
}
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>DOB</th>
			<th>Address</th>
			<th>Gender</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var patients in Model)
		{
			<tr>
				<td>@patients.PatientName</td>
				<td>@patients.PatientPhoneNo</td>
				<td>@patients.PatientEmail</td>
				<td>@patients.PatientDOB.ToShortDateString()</td>
				<td>@patients.PatientAddress</td>
				<td>@patients.PatientGender</td>
				<td>
					<a asp-action="View" asp-route-id="@patients.ICNumber">View</a> |
					<a asp-action="Edit" asp-route-id="@patients.ICNumber">Edit</a> |
					<a asp-action="Delete" asp-route-id="@patients.ICNumber">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>