@model Toothcare_Appointment_System.Models.Appointment

<style>
	main > div {
		background: url(/img/room-2.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.register .btn:hover {
		color: #fbfbfc;
		background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
	}

	.login-mod {
		background-color: #ffffffd4;
	}

	footer {
		display: none;
	}
</style>

<div class="d-flex justify-content-center align-content-center">
	<div class="my-5">
		<div class="login-mod d-flex flex-column container border border-3 border-primary rounded-3 p-5 shadow">
			<div class="d-flex flex-column gap-2">

				<h3>Are you sure you want to delete this appoinment?</h3>

				<div>
					<table>
						<tr>
							<th>Date : </th>
							<td>
								@Model.AppointmentDateTime.ToString("dd/MM/yyyy h:m tt")
							</td>
						</tr>
						<tr>
							<th>Reason Appointment : </th>
							<td>
								@Model.AppointmentReason
							</td>
						</tr>
						<tr>
							<th>Status : </th>
							<td>
								@Model.AppointmentStatus
							</td>
						</tr>
						<tr>
							<th>Type : </th>
							<td>
								@Model.AppointmentType
							</td>
						</tr>
						<tr>
							<th>Doctor Name : </th>
							<td>
								@Model.Doctor.DoctorName
							</td>
						</tr>
						<tr>
							<th>Patient Name : </th>
							<td>
								@Model.Patient.PatientName
							</td>
						</tr>
					</table>

					<form asp-action="Delete" method="post" class="d-flex gap-2 justify-content-end">
						<input type="hidden" asp-for="AppointmentID" />
						<div>
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="Index" class="btn btn-secondary">Back</a>
							}
							else if (User.IsInRole("Doctor"))
							{
								<a asp-action="Index" asp-controller="Doctors" class="btn btn-secondary">Back</a>
							}
							else
							{
								<a asp-action="Index" asp-controller="Staff" class="btn btn-secondary">Back</a>
							}
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
