@model IEnumerable<Toothcare_Appointment_System.Models.Appointment>

<style>
	main {
		background: url(/img/doctor.jpg) no-repeat center center fixed;
		background-size: cover;
		height: 91.9dvh;
		margin-bottom: -1rem;
	}

	.nav-link:hover {
		opacity: 0.6;
	}

	footer {
		display: none;
	}
</style>

<ul class="nav nav-tabs nav-fill">
	<li class="nav-item">
		<a class="nav-link bg-white fw-bol" asp-action="index" asp-controller="Staff">Staff</a>
	</li>
	<li class="nav-item">
		<a class="nav-link bg-white fw-bol" asp-action="index" asp-controller="Doctors">Doctor</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-white fw-bold bg-white bg-opacity-50 active" aria-current="page">Appointment</a>
	</li>
	<li class="nav-item">
		<a class="nav-link bg-white fw-bol" asp-action="index" asp-controller="Patients">Patient</a>
	</li>
</ul>
<div class="container mt-4">
	<h3 class="d-flex align-items-center justify-content-between mt-3 text-white fw-bold">
		Appointment List <a asp-action="Create" class="btn border border-3 rounded-pill bg-white p-2 px-4 scal fs-6">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
				<path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7" />
				<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
			</svg>
			Create new appointment
		</a>
	</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="background-color:#7d838e;color:white;">Appointment Date</th>
				<th style="background-color:#7d838e;color:white;">Status</th>
				<th style="background-color:#7d838e;color:white;">Doctor Id</th>
				<th style="background-color:#7d838e;color:white;">Doctor Name</th>
				<th style="background-color:#7d838e;color:white;">Patient Name</th>
				<th style="background-color:#7d838e;color:white;">Appointment Type</th>
				<th style="background-color:#7d838e;color:white;">Actions</th>
			</tr>
		</thead>
		<tbody>
			@{
				var appointmentList = Model.OrderByDescending(a => a.AppointmentDateTime);
				foreach (var appointment in appointmentList)
				{
					<tr class="table-info">
						<td>@appointment.AppointmentDateTime.ToString("dd/MM/yyyy hh:mm tt")</td>
						<td>
							@if (appointment.AppointmentStatus == "Scheduled")
							{
								<div class="text-center p-1 rounded-3" style="background-color:#B2DFDB;">
									@appointment.AppointmentStatus
								</div>
							}
							else if (appointment.AppointmentStatus == "Confirmed")
							{
								<div class="text-center p-1 rounded-3" style="background-color:#CE93D8;">
									@appointment.AppointmentStatus
								</div>
							}
							else if (appointment.AppointmentStatus == "Cancelled")
							{
								<div class="text-center p-1 rounded-3" style="background-color:#EF9A9A;">
									@appointment.AppointmentStatus
								</div>
							}
							else if (appointment.AppointmentStatus == "Completed")
							{
								<div class="text-center p-1 rounded-3" style="background-color:#A5D6A7;">
									@appointment.AppointmentStatus
								</div>
							}
						</td>
						<td>DOC@(appointment.Doctor.DoctorID)</td>
						<td>@appointment.Doctor.DoctorName</td>
						<td>@appointment.Patient.PatientName</td>
						<td>@appointment.AppointmentType</td>
						<td>
							<a asp-controller="Appointments" asp-action="Edit" asp-route-id="@appointment.AppointmentID" class="btn btn-warning">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
								</svg>
							</a>
							<a asp-controller="Appointments" asp-action="Delete" asp-route-id="@appointment.AppointmentID" class="btn btn-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
									<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
								</svg>
							</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>