@if (Model is IEnumerable<Toothcare_Appointment_System.Models.Staff> && User.IsInRole("Admin")) // Admin access the page
{
	IEnumerable<Toothcare_Appointment_System.Models.Staff> Staff = (IEnumerable<Toothcare_Appointment_System.Models.Staff>)Model;

	<style>
		main {
			background: url(/img/doctor.jpg) no-repeat center center fixed;
			background-size: cover;
			height: 91.9dvh;
			margin-bottom: -1rem;
		}

		.nav-link:hover {
			opacity: 0.6;
		}

		footer {
			display: none;
		}
	</style>

	<ul class="nav nav-tabs nav-fill">
		<li class="nav-item">
			<a class="nav-link text-white fw-bold bg-white bg-opacity-50 active" aria-current="page">Staff</a>
		</li>
		<li class="nav-item">
			<a class="nav-link bg-white fw-bol" asp-action="index" asp-controller="Doctors">Doctor</a>
		</li>
		<li class="nav-item">
			<a class="nav-link bg-white fw-bol" asp-action="index" asp-controller="Appointments">Appointment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link bg-white fw-bol" asp-action="index" asp-controller="Patients">Patient</a>
		</li>
	</ul>


	<div class="container mt-4">
		<h3 class="d-flex align-items-center justify-content-between mt-3 text-white fw-bold">
			Staff List <a asp-action="Create" class="btn border border-3 rounded-pill bg-white p-2 px-4 scal fs-6">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus me-1" viewBox="0 0 16 16">
					<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
					<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
				</svg>
				Add new staff
			</a>
		</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="background-color:#7d838e;color:white;">Staff ID</th>
					<th style="background-color:#7d838e;color:white;">Staff Name</th>
					<th style="background-color:#7d838e;color:white;">Staff Phone No</th>
					<th style="background-color:#7d838e;color:white;">Role</th>
					<th style="background-color:#7d838e;color:white;">Staff Email</th>
					<th style="background-color:#7d838e;color:white;">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var staff in Staff)
				{
					<tr class="table-info">
						<td>STF@(@staff.StaffID)</td>
						<td>@staff.StaffName</td>
						<td>@staff.StaffPhoneNo</td>
						<td>@staff.StaffRole</td>
						<td>@staff.StaffEmail</td>
						<td>
							<a asp-action="Edit" asp-route-id="@staff.StaffID" class="btn btn-warning">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
								</svg>
							</a>
							<a asp-action="Delete" asp-route-id="@staff.StaffID" class="btn btn-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
									<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
								</svg>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else if (Model is IEnumerable<Toothcare_Appointment_System.Models.Appointment>) // staff access the page
{
	IEnumerable<Toothcare_Appointment_System.Models.Appointment> appointmentdto = (IEnumerable<Toothcare_Appointment_System.Models.Appointment>)Model;

	<style>
		main {
			background: url(/img/backdrop.jpg) no-repeat center center fixed;
			background-size: cover;
			margin-bottom: -1rem;
		}

		.nav-link:hover {
			opacity: 0.6;
		}

		footer {
			display: none;
		}
	</style>

	<ul class="nav nav-tabs nav-fill">
		<li class="nav-item">
			<a class="nav-link text-white fw-bold bg-white bg-opacity-50 active" aria-current="page">Appointment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link bg-white fw-bold" asp-action="index" asp-controller="Patients">Patient</a>
		</li>
	</ul>

	<div class="container">
		<h3 class="d-flex align-items-center justify-content-between mt-3 text-white">
			All Appointment
			<a asp-action="Create" asp-controller="Appointments" class="btn border border-3 rounded-pill bg-white p-2 px-4 scal fs-6">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus me-1" viewBox="0 0 16 16">
					<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
					<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
				</svg>
				Add new Appointment
			</a>
		</h3>


		<div class="row row-cols-4 gap-2">
			@foreach (var appoinment in appointmentdto)
			{
				<div class="col border rounded-3 p-4" style="
					@(appoinment.AppointmentStatus == "Scheduled" ?
					"background-color: #B2DFDB;" :
					appoinment.AppointmentStatus == "Confirmed" ?
					"background-color: #CE93D8;" :
					appoinment.AppointmentStatus == "Cancelled" ?
					"background-color: #EF9A9A ;" :
					appoinment.AppointmentStatus == "Completed" ?
					"background-color: #A5D6A7 ;": "")">
					<table class="">
						<tr class="border-1">
							<th>Date : </th>
							<td>
								@appoinment.AppointmentDateTime.ToLocalTime().ToString("dd/MM/yyyy hh:mm tt")
							</td>
						</tr>
						<tr class="border-1">
							<th>Reason Appointment : </th>
							<td>
								@appoinment.AppointmentReason
							</td>
						</tr>
						<tr class="border-1">
							<th>Status : </th>
							<td>
								@appoinment.AppointmentStatus
							</td>
						</tr>
						<tr class="border-1">
							<th>Type : </th>
							<td>
								@appoinment.AppointmentType
							</td>
						</tr>
						<tr class="border-1">
							<th>Doctor Name : </th>
							<td>
								@appoinment.Doctor.DoctorName	
							</td>
						</tr>
						<tr class="border-1">
							<th>Patient Name : </th>
							<td>
								@appoinment.Patient.PatientName
							</td>
						</tr>
					</table>
					<div class="mt-3 d-flex justify-content-around">
						<a asp-controller="Appointments" asp-action="Edit" asp-route-id="@appoinment.AppointmentID" class="btn btn-warning">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
							</svg>
							Edit
						</a>
						<a asp-controller="Appointments" asp-action="Delete" asp-route-id="@appoinment.AppointmentID" class="btn btn-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
								<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
							</svg>
							Delete
						</a>
					</div>
				</div>
			}
		</div>
	</div>
}
else
{
	<h1>@(Model?.GetType())</h1>
}